@use '../../variables' as variables;

.course-card {
  background-color: variables.$color-surface-container;
  border: 1px solid variables.$color-outline-variant;
  border-radius: variables.$border-radius-lg;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    margin-bottom: 1.5rem;
  }

  &__icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__title {
    color: variables.$color-on-surface;
    font-size: 1.35rem;
    margin-bottom: 1rem;
  }

  &__description {
    color: variables.$color-on-surface-variant;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  &__actions {
    margin-top: auto;
  }
}