/* src/scss/button.scss */
@use 'variables';

.button {
  padding: 1rem 2rem;
  border-radius: variables.$border-radius-md;
  border: none;
  font-family: variables.$font-family-accessible;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
  text-decoration: none;

  &-primary { 
    background-color: variables.$color-primary; 
    color: variables.$color-on-primary; 
  }
  
  &-secondary { 
    background-color: transparent; 
    border: 2px solid variables.$color-primary; 
    color: variables.$color-primary; 
  }
  
  &:hover { 
    filter: brightness(1.2); 
  }

  @include variables.focus-visible-style;
}
